{
    "DestinationName": "../service/LCAP2211REL/",
    "OfflineEnabled": false,
    "LanguageURLParam": "",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Cloud",
    "ServiceUrl":""
}